<!--수정페이지:필요할 때 쓰는걸로-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메뉴 등록 페이지</title>
</head>
<body>
    <h1></h1>
    <form  action="{%url 'update' post.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        메뉴이름(가격)<br>
        <input type="text" name="postname" value="{{post.postname}}"><br>
        내용<br>
        <textarea rows="10" cols="50" name="contents">{{post.contents}}</textarea><br>
        <br>
        <input type="file" name="mainphoto" onchange="fileCheck(this)"><br>
        <br>     
        <input type="submit" value="수정">
    </form>
    <br>
    <a href="/blog/{{post.pk}}"><button>뒤로가기</button></a>&nbsp&nbsp&nbsp   
        
</body>
</html>