<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>첫화면</title>
</head>
<body>
    <h1></h1>
    <p style="text-align:left;font-size: 2em;">
        <a href="blog/">
            <button style="font-size: 1em;border-radius: 20px;background-color: #A6EA40;">&nbsp음성으로 메뉴 주문&nbsp</button></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    </p>
    <p style="text-align:left;font-size: 2em;">
        <a href="blog/">
            <button style="font-size: 1em;border-radius: 20px;background-color: #A6EA40;">&nbsp화면으로 메뉴 주문&nbsp</button></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    </p>
    <p style="text-align:left;font-size: 2em;">
        <a href="blog/">
            <button style="font-size: 1em;border-radius: 20px;background-color: #A6EA40;">&nbsp사진으로 메뉴 주문&nbsp</button></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    </p>

</body>
</html>