<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글쓰기 페이지</title>
</head>
<body>
    <h1>오늘은 뭐했지~?</h1>
    <form action="{%url 'new_post' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        날짜 입력<br>
        <input type="text" name="postname"><br>
        <br>
        내용<br>
        <textarea rows="10" cols="50" name="contents"></textarea><br>
        <br>
        <input type="file" name="mainphoto"><br>
        <br>
        <input type="submit" value="글쓰기">
    </form>
    <br>
    <a href="/blog/"><button>뒤로가기</button></a>&nbsp&nbsp&nbsp
</body>
</html>