<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Posting!</title>
    </head>
    <body>
        <p style="font-size: 1.5em;font-weight: bold;">{{post.postname}}</p>
        <!-- 이미지 보여주기 -->
        {% if post.mainphoto %}
            <img src = "{{ post.mainphoto.url }}" alt="" width="700" height="700">
            <br>
        {% endif %}
        <p style="font-size: 1.5em;">{{post.contents}}</p>
        <br>
        <a href="/blog/"><button style="font-size: 1.8em;">목록</button></a>&nbsp&nbsp&nbsp
        <a href="/blog/"><button style="font-size: 1.8em;">장바구니에 담기</button></a>&nbsp&nbsp&nbsp
        <a href="/blog/{{post.pk}}/remove"><button style="font-size: 1.8em;">삭제</button></a>&nbsp&nbsp&nbsp
    </body>
</html>